.file-select-zone {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.file-select-zone > span {
    width: 100%;
}

.file-select-zone > p {
    margin-right: 8px;
    min-width: fit-content;
}