.import-project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.import-project-files-optional-visible {
    display: flex;
    flex-direction: column;
}

.import-project-files-optional-invisible {
    display: none;
}
