#rule-work-data-1 {
    display: flex;
}

#rule-work-data-2 {
    display: none;
}

@media only screen and (max-width: 1242px) {
    #rule-work-data-1 {
        display: none;
    }

    #rule-work-data-2 {
        display: flex;
    }
}