.cones-bar {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 8px 15px 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

}

