.styled-collapsible-divider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.divider-label {
    font-size: smaller;
    color: #2A3439;
    min-width: fit-content;
    margin-right: 1em;
    margin-top: -1px;
}

.divider-horizontal-line {
    height: 1px;
    width: 100%;
    background-color: #2A3439;
}