.ruleWorkDialog { width: 100%; height: 100%; padding: 8px 0px !important;}
.ruleWorkDialog-left {  width: 64%;  height: 100%; }
.ruleWorkDialog-left-first { margin-left: 2%; width: 48%;  height: 100%; float: left;}
.ruleWorkDialog-left-second {  width: 50%;  height: 100%; float:left; }

.ruleWorkDialog-right { width: 35%;  height: 100%; }
.ruleWorkDialog-right-up {  width: 95%;  height: 30%; margin-bottom: 1%;}
.ruleWorkDialog-right-down {  width: 95%;  height: 66%; }

.ruleWorkDialog-top { text-align: left; margin-left: 2%; width: 98%; height: 5%; }
.ruleWorkDialog-bottom { width: 100%; height: 95%;  display: flex;}
.MuiDialogActions-root { padding: 5px !important;}