.consistency-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.consistency-selector > .MuiFormControl-root {
    margin-right: 5px;
    max-width: 175px;
}

.consistency-selector > .MuiSlider-root {
    margin-left: 5px;
    max-width: 175px;
}