#unions-settings-drawer .MuiTypography-root {
    margin-left: 8px;
}

#consistency-selector > .MuiFormControl-root {
    margin-right: 6px;
    max-width: 175px;
}

#consistency-selector > .MuiSlider-root {
    margin-left: 6px;
    max-width: 175px;
}