.upper-panel {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 15px 4px;
}

.dominance-type-wrapper {
    margin-left: 15px;
    min-width: 125px;
}

span {
    flex-grow: 1;
}

