#cones-bar > hr {
    margin: 0 16px;
}

.objects-list {
    width: 45%;
    max-width: 45%;
    margin-right: 25px;
}

.objects-description {
    position: sticky;
    width: 45%;
    height: fit-content;
    top: 0;
}

