.cones {
    position: relative;
    width: 100%;
    height: fit-content;
}

.variants-display {
    position: relative;
    width: 100%;
    padding: 25px 25px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.variants-list {
    max-width: 40%;
    flex-grow: 1;
    margin-right: 25px;
}

.variants-description {
    position: sticky;
    width: 50%;
    height: fit-content;
    top: 0;
    flex-grow: 1;
}

